.header1 {
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  font-size: 20px;
}

.imgContainer1 {
  width: 120px;
  height: 174px;
}

.headerInfo1 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


i {
  font-size: 20px !important;
  margin-right: 5px;
  color:  var(--main-color);
}

.imgContainer1 > img {
  object-fit: cover;
  width: 100%;
}

.personName1 {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 15px;
}

.personInfo1 {
  display: flex;
  justify-content: space-around;


}

.personProperty1 {
  margin-right: 70px;
  
}

/* @media screen and (max-width: 768px) {
  .personName {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
  }

  .header {
    padding: 0px 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .personInfo {
    flex-direction: column;
    margin-left: 30px;
  }

  .personProperty {
    margin-right: 0px;
    margin-bottom: 10px;
  }
} */
