@import url("https://at.alicdn.com/t/c/font_4700932_v6dmtshp14.css?spm=a313x.manage_type_myprojects.i1.9.3e273a81ab5rwZ&file=font_4700932_v6dmtshp14.css");

.header {
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0px 30px;
  font-size: 20px;
}

.imgContainer {
  width: 120px;
  height: 174px;
}

.person {
    background-color: aqua;
    
}

i {
  font-size: 20px !important;
  margin-right: 5px;
  color: #002fa7;
}

.imgContainer > img {
  object-fit: cover;
  width: 100%;
}

.personName {
  font-size: 36px;
  font-weight: bold;
  margin-top: -30px 0 0 ;
  padding-bottom: 15px;
}

.personInfo {
  display: flex;
  justify-content: space-around;
  /* gap: 70px; */
  /* margin-top: 20px; */

}

.personProperty {
  margin-right: 70px;
  
}

@media screen and (max-width: 768px) {
  .personName {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
  }

  .header {
    padding: 0px 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .personInfo {
    flex-direction: column;
    /* align-items: center; */
    margin-left: 30px;
  }

  .personProperty {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
