.container {
  width: 794px;
  min-width: 350px;
  /* background-color: #f5f5f5; */
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  margin: 0 auto;
}


.pdfbtn {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    min-width: 350px;
    /* background-color: #f5f5f5; */
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    margin: 0 auto;
  }
  
}


@media screen and (max-width: 440px) {
  .container {
    width: 100%;
    min-width: 350px;
    /* background-color: #f5f5f5; */
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    margin: 0 auto;
  }
  
}